<footer id="footer">
  <div class="inner">
    <div class="content">
      <section>
        <h4>Contact Us</h4>
        <ul class="plain">
          <li><a href="mailto:nikita@shevato.com"><i class="icon fa-envelope" aria-hidden="true">&nbsp;</i>nikita@shevato.com</a></li>
          <li><a href="tel:+1504-638-3370"><i class="icon fa-phone" aria-hidden="true">&nbsp;</i>+1 (504) 638-3370</a></li>
          <li><a href="https://www.linkedin.com/in/nikita-soifer/" rel="noopener noreferrer" aria-label="Shevato on LinkedIn"><i class="icon fa-linkedin" aria-hidden="true">&nbsp;</i>LinkedIn</a></li>
        </ul>
      </section>
      <div class="footer-cols">
        <div class="col">
          <h4>Site</h4>
          <ul>
            <li><a href="/home.html">Home</a></li>
            <li><a href="/work.html">Work</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Apps</h4>
          <ul>
            <li><a href="/apps/mario-kart/">Mario Kart</a></li>
            <li><a href="/apps/gym-tracker/">Gym Tracker</a></li>
            <li><a href="/apps/football-h2h/">Football H2H</a></li>
            <li><a href="/apps/rising-seasons/">Rising Seasons</a></li>
            <li><a href="/apps/maptap-rivals/">MapTap Rivals</a></li>
            <li><a href="/apps/arena/">Arena</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      &copy; Copyright <span id="year"></span>, Shevato LLC
    </div>
  </div>
</footer>

<script src="/assets/js/year-updater.js"></script>
